@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');

h1, h2 {
    font-family: 'serif, Times New Roman', Times;
}

h3 {
    font-family: sans-serif, Arial, Helvetica;
}

p {
    font-family: sans-serif, Arial, Helvetica;
    color: rgb(209 213 219)
}

@layer base {
    li {
        @apply px-4;
        @apply cursor-pointer
    }
}

.content-div {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 250px;
}

.content-div:hover {
    background-image: linear-gradient(
        to right,
        rgba(122, 157, 255, 0.8),
        hsla(242, 74%, 61%, 0.8)
    )!important;
}